.chatRoomHeader{
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #f8f8f8;
}
.chatRoomHeader > img{
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 17px;
    width: 45px;
    height: 45px;
}
.chatRoomName{
    position: absolute;
    left: 75px;
    top: 15px;
}


.chatRoomBody{
    padding-top: 65px;
    padding-bottom: 100px;
    width: 100vw;
    height: 100vh;
    background-color: #bcd1dc;
}

.chatBox{
    width: 100vw;
    overflow: scroll;
    background-color: #bcd1dc;
    padding-bottom: 150px;
}

.chatMsgbox{
    padding:7px;
    margin-right: 20px;
    margin-top: 10px;
    max-width: 400px;
    background-color: #ffeb32;
}
.rightChatBox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.leftChatBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chatMsgbox2{
    padding:7px;
    margin-left: 20px;
    margin-top: 10px;
    max-width: 400px;
    background-color: white;
}


.chatFooter{
    background-color: white;
    padding: 20px 0 20px 0;
    position: fixed;
    bottom: 0px;
    display: flex;
    border-top: 1px solid rgb(182, 179, 179);
    width: 100vw;
}

.chatFooter > textarea {
    margin-right: 2%;
    margin-left: 2%;
    border: none;
    font-size: 14px;
    height: 70px;
    flex: 0.96;
    resize: none;
}

.ChatsendBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 80px;
    height: 70px;
    background-color: #ffe501;
}