.MainPage{
    display: flex;
}

.MainPageSideBar{
    position: fixed;
    width: 70px;
    height: 100%;
    background-color: #e6e6e6;
}

.SideBarMenu{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}
.SideBarMenu > img{
    margin-bottom: 30px;
    width: 26px;
}

.MainPagebody{
    width: 100%;
}

.MainPageHeader{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
}
.MainPageHeaderName{
    margin-left: 95px;
    font-size: 17px;
    font-weight: 700;
}
.MainPageHeaderMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainPageHeaderMenu > img:nth-child(1){
    margin-right: 20px;
    width: 19px;
    height: 19px;
}
.MainPageHeaderMenu > img:nth-child(2){
    margin-right: 20px;
    width: 23px;
}

.UserPageBody{
    margin-left: 90px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.MyInfo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
}
.MyInfo > img {
    border-radius: 19px;
    width: 52px;
    height: 52px;
}

.MyInfoName{
    font-size: 14px;
    margin-left: 12px;
}
.MyInfoName:hover{
    cursor: pointer;
}

.MyStatusMsg{
    margin-left: 12px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.473);
}

.MyStatusMsg:hover{
    cursor: pointer;
}

.FirendList{
    margin-top: 12px;
    padding-top: 12px;
    border-top: 0.2px solid rgba(141, 136, 136, 0.226);
}
.UserPageListName{
    color: rgba(0, 0, 0, 0.438);
    font-size: 13px;
}

.Firend{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.Firend > img{
    width: 40px;
    height: 40px;
    border-radius: 15px;
}
.FirendStatus{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.FirendName{
    font-size: 14px;
    margin-bottom: 1px;
}
.FirendStatusMsg{
    color: rgba(0, 0, 0, 0.473);
    font-size: 12px;
}

.AddFirendBar{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.AddFirendBar > p{

    font-weight: 650;
    margin: 0 auto;
}
.AddFirendCategory{
    margin-top: 15px;
    display: flex;
}
.AddFirendCategory > div{
    text-align: center;
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.FindFriendTel{
    margin-top: 30px;
    width: 100%;
}

.FindFriendTelInput{
    margin-top: 18px;
    width: 100%;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    padding-bottom: 5px;
}
.FindFriendTelInput::placeholder{
    color: rgba(105, 102, 102, 0.534);
    font-size: 14px;
}
.FindFriendTelComent{
    margin-top: 30px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.521);
}


.AddFriendBtn{
    margin-top: 50px;
    width: 300px;
    height: 32px;
    background-color: rgba(97, 95, 95, 0.116);
    color: rgb(126, 125, 125);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AddFriendBtn > div{
    margin: 0 auto;
}

.FindFrindInfoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FindFriendImg{
    margin: 0 auto;
    width: 90px;
    border-radius: 25px;
}

.FindFriendName{
    margin-top: 11px;
    font-size: 15px;
}

.FindFriendComent{
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}

.profileImgUpdateInput{
    width: 50px;
    height: 48px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
}
.profileImgUpdateInput:hover{
    cursor: pointer;
}