*{
    margin: 0;
    padding: 0;
}
.LoginPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ffeb32;
}

.LoginPageKaKaoLogoImg{
    width: 109px;
    margin-bottom: 42px;
}

.LoginPageLoginBox{
    background-color: white;
    border: 1px solid rgba(136, 136, 136, 0.308);
    border-radius: 3px;
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: center;
}

.LoginPageLoginBox > input{
    font-weight: 100;
    font-size: 14px;
    outline: none;
    width: 210px;
    height: 40px;
    border: none;
}
.LoginPageLoginBoxLine{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.055);
}

.LoginPageLoginBtn{
    margin-top: 5px;
    width: 240px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid rgba(136, 136, 136, 0.308);
    background-color: #f6f6f6;
    color: #b3aeae;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.LoginPageLoginBtn:hover{
    cursor: pointer;
}


.LoginPageSucLoginBtn{  /* 로그인불들어온 버튼 */
    margin-top: 5px;
    width: 240px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid rgba(136, 136, 136, 0.308);
    background-color: #423630;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}


.LoginPageFooter{
    position: absolute;
    bottom: 45px;
    bottom: 1;
    width: 240px;
    font-size: 12px;
    color: rgb(112, 110, 110);
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}
.LoginPageFooter > div{
    padding-right: 11px;
    border-right:1px solid rgba(104, 102, 102, 0.144);
}
.LoginPageFooter > div:hover{
    cursor: pointer;
}
.LoginPageFooter > p:hover{
    cursor: pointer;
}